phoenix-soap-app/src/main/webapp/WEB-INF/hr.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
~ Copyright 2007 the original author or authors.
~
~ Licensed under the Apache License, Version 2.0 (the "License");
~ you may not use this file except in compliance with the License.
~ You may obtain a copy of the License at
~
~      http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing, software
~ distributed under the License is distributed on an "AS IS" BASIS,
~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~ See the License for the specific language governing permissions and
~ limitations under the License.
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:hr="http://phoenix.com/hr/schemas"
           elementFormDefault="qualified"
           targetNamespace="http://phoenix.com/hr/schemas">
    
    <xs:simpleType name="alias">
        <xs:annotation>
            <xs:documentation>
                User alias type
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="64"/>
            <xs:pattern value="[a-zA-Z][a-zA-Z0-9\-\._@]*"/> 
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="groupID">
         <xs:annotation>
            <xs:documentation>
                Simple group ID type - unsigned int
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:unsignedInt"/>
    </xs:simpleType>
    
    <xs:simpleType name="group">
        <xs:annotation>
            <xs:documentation>
                Group ID - can have subgroups.
                Example: company.managers.high
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"> 
            <xs:pattern value="[^\.][a-zA-Z0-9_\-\.]+"/> 
        </xs:restriction> 
    </xs:simpleType>
    
    <xs:complexType name="groupRecord">
        <xs:annotation>
            <xs:documentation>
                Group record (in contactlist element for example).
                This group is intended to be loaded from database.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="groupId" type="hr:groupID" minOccurs="1" maxOccurs="1"/>
            <xs:element name="groupName" type="hr:group" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
   
    <xs:simpleType name="enabledDisabled">
        <xs:annotation>
            <xs:documentation>
                Enabled or disabled state
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="enabled"/>
            <xs:enumeration value="disabled"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="whitelistAction">
        <xs:annotation>
            <xs:documentation>
                White list action type - inside whitelist change request
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="add"/>
            <xs:enumeration value="remove"/>
            <xs:enumeration value="enable"/>
            <xs:enumeration value="disable"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="contactlistAction">
        <xs:annotation>
            <xs:documentation>
                Action performed on contact list item
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="add"/>
            <xs:enumeration value="remove"/>
            <xs:enumeration value="enable"/>
            <xs:enumeration value="disable"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="userSIP">
        <xs:annotation>
            <xs:documentation>
                User's SIP address type
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"> 
            <xs:pattern value="[^@]+@[^\.]+\..+"/> 
        </xs:restriction> 
    </xs:simpleType>
    
    <xs:simpleType name="userID">
        <xs:annotation>
            <xs:documentation>
                Simple user ID type - unsigned int
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:unsignedInt"/>
    </xs:simpleType>
    
    <xs:simpleType name="userPresenceStatus">
        <xs:annotation>
            <xs:documentation>
                User presence type - presence in contact list
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="online"/>
            <xs:enumeration value="offline"/>
            <xs:enumeration value="away"/>
            <xs:enumeration value="dnd"/>
            <xs:enumeration value="invisible"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="userWhitelistStatus">
        <xs:annotation>
            <xs:documentation>
                User presence in whitelist type
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="in"/>
            <xs:enumeration value="notin"/>
            <xs:enumeration value="disabled"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="whitelistReturn">
        <xs:annotation>
            <xs:documentation>
                Whitelist request response type - integer
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer"/>
    </xs:simpleType>
    
    <xs:simpleType name="contactlistReturn">
        <xs:annotation>
            <xs:documentation>
                Contactlist request response type - integer
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer"/>
    </xs:simpleType>
    
    <xs:complexType name="aliasList">
        <xs:annotation>
            <xs:documentation>
                List of aliases
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="alias" type="hr:alias" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="userIdentifier">
        <xs:annotation>
            <xs:documentation>
                User identifier for requests.
                If ID is present, it means that user is INTERNAL only
                if SIP ID is present, it means that user can be INTERNAL/EXTERNAL
            </xs:documentation>
        </xs:annotation>
        <xs:choice>
               <xs:element name="userSIP" type="hr:userSIP"/>
               <xs:element name="userID" type="hr:userID"/>
            </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="groupIdentifier">
        <xs:annotation>
            <xs:documentation>
                Group identifier for request - can be group id or group name
            </xs:documentation>
        </xs:annotation>
        <xs:choice>
               <xs:element name="groupID" type="hr:groupID"/>
               <xs:element name="groupName" type="hr:group"/>
            </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="whitelistRequestElement">
        <xs:annotation>
            <xs:documentation>
                Whitelist request element, inside whitelist request message
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="user" type="hr:userIdentifier"/>
            <xs:element name="action" type="hr:whitelistAction"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="contactlistChangeRequestElement">
        <xs:annotation>
            <xs:documentation>
                Contactlist request element, inside contactlist change request message
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="user" type="hr:userIdentifier"/>
            <xs:element name="action" type="hr:contactlistAction"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="contactListElement">
        <xs:annotation>
            <xs:documentation>
                One element in contactlist response
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="userid" type="hr:userID"/>
            <xs:element name="alias" type="hr:alias"/>
            <xs:element name="usersip" type="hr:userSIP"/>
            <xs:element name="presenceStatus" type="hr:userPresenceStatus"/>
            <xs:element name="contactlistStatus" type="hr:enabledDisabled"/>
            <xs:element name="whitelistStatus" type="hr:userWhitelistStatus"/>
        </xs:sequence>
    </xs:complexType>
    
    
    
    <!--
        ~ Elements definition for messages
    -->
    <xs:element name="whitelistRequest">
        <xs:annotation>
            <xs:documentation>
                Whitelist change request - add/remove whitelist multiple entries
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="whitelistrequestElement" 
                            type="hr:whitelistRequestElement" 
                            minOccurs="1" 
                            maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
        <xs:unique name="whitelistrequestElement">
            <xs:selector xpath="whitelistrequestElement"/>
            <xs:field xpath="@user"/>
        </xs:unique>
    </xs:element>
    
    <xs:element name="whitelistResponse">
        <xs:annotation>
            <xs:documentation>
                Whitelist change request response
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="return" 
                            type="hr:whitelistReturn" 
                            minOccurs="1" 
                            maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="contactlistChangeRequest">
        <xs:annotation>
            <xs:documentation>
                Contactlist change request - add/remove multiple contactlist entries
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="contactlistChangeRequestElement" 
                            type="hr:contactlistChangeRequestElement" 
                            minOccurs="1"
                            maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
        <xs:unique name="uniqueAlias">
            <xs:selector xpath="contactlistChangeRequestElement"/>
            <xs:field xpath="@user"/>
        </xs:unique>
    </xs:element>
    
    <xs:element name="contactlistChangeResponse">
        <xs:annotation>
            <xs:documentation>
                Contactlist change request response
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="return" 
                            type="hr:contactlistReturn" 
                            minOccurs="1"
                            maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="contactlistGetRequest">
        <xs:annotation>
            <xs:documentation>
                Simple get contactlist request, can request whole contact list
                or only portion of it specifying list of aliases to retrieve
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="hr:userIdentifier" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>   
        </xs:complexType>
        <xs:unique name="uniqueAliasClistSchema">
            <xs:selector xpath="user"/>
            <xs:field xpath="@user"/>
        </xs:unique>
    </xs:element>

    <xs:element name="contactlistGetResponse">
        <xs:annotation>
            <xs:documentation>
                Contact list get response
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="contactlistEntry" type="hr:contactListElement" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>   
        </xs:complexType>
        <xs:unique name="contactlistEntry">
            <xs:selector xpath="contactlistEntry"/>
            <xs:field xpath="@user"/>
        </xs:unique>
    </xs:element>

    <xs:simpleType name="binaryPayload">
        <xs:annotation>
            <xs:documentation>
                Binary Base64 encoded payload
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:base64Binary"/>
    </xs:simpleType>
    
    <xs:element name="binaryMessageUpload">
        <xs:annotation>
            <xs:documentation>
                Type for uploading a binary message to server
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="destination" type="hr:userIdentifier" minOccurs="1" maxOccurs="1"/>
                <xs:element name="payload" type="hr:binaryPayload" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>   
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GetMessages">
        <xs:annotation>
            <xs:documentation>
                Fetches binary messages from server
            </xs:documentation>
        </xs:annotation>
        <xs:complexType/> 
    </xs:element>
    
    <xs:element name="binaryMessagesResponse">
        <xs:annotation>
            <xs:documentation>
                Response from server - returns binary messages stored on server
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="source" type="hr:userIdentifier" minOccurs="1" maxOccurs="1"/>
                <xs:element name="payload" type="hr:binaryPayload" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>   
        </xs:complexType>
    </xs:element>
    
    <xs:element name="HolidayResponse2" nillable="true" type="xs:string"/>
    <xs:element name="HolidayResponse" type="xs:string" />
    <xs:element name="HolidayRequest">
        <xs:complexType>
            <xs:all>
                <xs:element name="Holiday" type="hr:HolidayType"/>
                <xs:element name="Employee" type="hr:EmployeeType"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="HolidayType">
        <xs:sequence>
            <xs:element name="StartDate" type="xs:date"/>
            <xs:element name="EndDate" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EmployeeType">
        <xs:sequence>
            <xs:element name="Number" type="xs:integer"/>
            <xs:element name="FirstName" type="xs:string"/>
            <xs:element name="LastName" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>